.card-wrapper {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEEAEA!important;
    border-radius: 15px!important;
    margin: 2em 0em;
}

.card-wrapper > div{
    margin: auto;
    padding-top: 10px;
    width: 90%;
    text-align: center;
}

.img {
    border-radius: 50%;
    width: 200px;
    height: 200px;;
}