
*{
    font-family: 'Times New Roman', Times, serif;
}
/* Inicio header*/
.nav-item-space {
    margin-right: 40px !important;
}

.nav-item-space:last-child {
    margin-right: 30px !important;
}

/* Positionner la navbar au-dessus du carrousel */
.navbar-overlay {
    background-color: rgb(218, 229, 244)!important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    /* Assure que le Navbar est au-dessus du carrousel */
}

/* Fim header*/

/* Inicio carousel*/
/* Le conteneur principal du carrousel */
.carousel-container {
    position: relative;
    height: 100vh;
    /* Occupe toute la hauteur de la fenêtre */
    overflow: hidden;
}

/* Le carrousel doit occuper toute la hauteur */
.carousel-fullscreen {
    height: 100vh;
}

/* L'image du carrousel doit couvrir toute la hauteur et la largeur */
.carousel-image {
    height: 100vh;
    object-fit: cover;
    /* Couvre l'écran sans distorsion */
}

/* Pour s'assurer que le texte des légendes reste visible */
.carousel-caption {
    z-index: 5;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 5;
    color: #fff;
    transform: translateY(-50%);
    text-align: left;
}

.carousel-caption h1 {
    font-size: 4rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Space Grotesk",
            sans-serif;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2;
    /* Espacement entre les lignes */
}

.whatsapp-button {
    margin-top: 20px;
    
}

/* Fim carousel*/

/*Inicio About*/

.about-us-container {
    background-color: rgb(248, 248, 249);    /*#FF6F1E;*/
    /* Orange de fond */
    /*color: white;*/
    height: 100vh;
    /* Occupe toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Aligne les sections en haut, au milieu, et en bas */
    }
  
.about-us-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
  
.about-us-title {
    font-size: 2.5rem;
    /* Taille du texte principal */
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
  
.about-us-subtitle {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

.about-us-header {
    margin-top: 20px;
    /* Titre en haut de la page */
    text-align: center;
}

.about-us-main {
    flex-grow: 1;
    /* Laisse cette section prendre l'espace au milieu */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-footer {
    text-align: center;
    padding-bottom: 20px;
    /* Un peu d'espace avant le bas de la page */
}

/*Fim about*/

/*Inicio serviço */

.service-wrapper{
    background-color: rgb(248, 248, 249);
    text-align: center;
    margin: 1.5rem 0rem;
}

#service-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.service-wrapper .col-card{
    display: flex;
    justify-content: center;
}

/*.col {
    margin-bottom: 30px;
}*/

/* Fim serviço */

/* Inicio cliente*/

.client-page {
    background-color: #ffffff;
    /* Fond blanc */
    height: 100vh;
    /* Occupe toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.client-header {
    margin-top: 20px;
    text-align: center;
}

.client-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.client-logos {
    margin-top: 50px;
}

.client-logo {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Fim cliente*/

/* Inicio contato e form*/


#contact-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-wrapper {
   background-color: rgb(248, 248, 249);
    margin: 1.5rem 0rem;
}

.contact-wrapper > h1{
    text-align: center;
    margin: 1.5rem 0rem;
}

.contact-wrapper .icon-text-wrapper{
    background-color: rgba(249, 249, 249, 0.632); 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 
    0 0 15px rgb(235, 240, 247);
    padding: 1.2rem;
}

.contact-wrapper .icon-text-section{
    display: flex;
    margin-bottom: 1.5em;
}

.contact-wrapper .icon-wrapper{
    display: flex;
    background-color: rgb(218, 229, 244);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.contact-wrapper .text-wrapper{
    margin-left: 0.7em;
}

.contact-wrapper .title-text{
    margin-block-end: 0px;
}

.contact-wrapper .img-address{
    width: 100%;
    height: auto;
}

/*Fim contato e form*/

/*Inicio Footer */

.footer-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ccc;
}

.footer-socials {
    margin-top: 20px;
}

.footer-socials a {
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #ccc;
}

/* Fim footer*/


@media (max-width: 768px) {
    .about-us-title {
        font-size: 2.5rem;
        /* Réduire la taille du texte pour les petits écrans */
    }

    .about-us-subtitle {
        font-size: 1rem;
        padding: 0 15px;
    }

    .client-title {
        font-size: 3rem;
    }

    .client-logo {
        max-width: 80%;
    }
}


@media (max-width: 992px) {
    .contact-wrapper .icon-text-wrapper{
        margin-bottom: 1.7em;
    }
}
