.nav-item-space {
    margin-right: 40px !important;
   

}

.nav-item-space:last-child {
    margin-right: 30px !important;
    
}



.footer-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ccc;
}

.footer-socials {
    margin-top: 20px;
}

.footer-socials a {
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #ccc;
}

/* Le conteneur principal du carrousel */
.carousel-container {
    position: relative;
    height: 100vh;
    /* Occupe toute la hauteur de la fenêtre */
    overflow: hidden;
}

/* Le carrousel doit occuper toute la hauteur */
.carousel-fullscreen {
    height: 100vh;
}

/* L'image du carrousel doit couvrir toute la hauteur et la largeur */
.carousel-image {
    height: 100vh;
    object-fit: cover;
    /* Couvre l'écran sans distorsion */
}

/* Positionner la navbar au-dessus du carrousel */
.navbar-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    /* Assure que le Navbar est au-dessus du carrousel */
}

/* Pour s'assurer que le texte des légendes reste visible */
.carousel-caption {
    z-index: 5;
    color: #fff;
}